<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="acceptedImageFormats" value=".jpg.png.bmp"/>
    <add key="acceptedTextFormats" value=".txt"/>
    <add key="decImgDefault" value="C:\"/>
    <add key="decPassDefault" value="C:\"/>
    <add key="decDestDefault" value="C:\"/>
    <add key="encImgDefault" value="C:\"/>
    <add key="encMsgDefault" value="C:\"/>
    <add key="encDestDefault" value="C:\"/>
  </appSettings>
  
</configuration>